header{
    height: 20vh;
    position: relative;
    width: 100vw;
}
body{
    overflow-x: hidden;
    background: #fafafa;
}
.main{
    background: #fafafa;
}
.title{
    color: #115278;
    font-family: 'Playfair Display', serif;
    padding: 16px 10px;
    position: relative;
}
.title::after{
    position: absolute;
    content: url("../images/underline.png");
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.profile-div{
    background: #1da1f2;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
    border-radius: 10px;
    height: 240px;

}
.profile-div .profile{
    background: #fff;
    color: #1da1f2;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 1000;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-div a{
    color: white;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 14px;
    border: 1px solid white;
}
.profile-div a:hover{
    color: white;
    text-decoration: none;
}
.rest-card{
    background: #fff;
    height: 240px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
@media(max-width:911px) {
    header{
        height: 8vh;
    }
    
}
